{% extends 'base.html.twig' %}

{% block title %}Announcement page{% endblock %}

{% block body %}
<h1> Your Ads </h1>
<div>
<h2> 
{{annonce.title}} 
</h2>
</a>
<h3> 
Posted the :
{{annonce.createdOn | date('d/m/Y h:i:s')}} 
</h3>
<p>
{{annonce.content}}
</p>
<p>
Price :
{{annonce.price}}€
</p>
<p>
Posted by :
{% if annonce.author %}
  {{annonce.author.username}}        
{% endif %}
{% if app.user and app.user == annonce.author %}
</p>
<a href="{{ path('leboncoin_delete', {'id' : annonce.id } ) }}">
<button>Delete</button>
</a>
<a href="{{ path('leboncoin_edit', {'id' : annonce.id } ) }}">
<button>Edit</button>
</p>
{% endif %}
</div>
{% endblock %}
