{% extends 'base.html.twig' %}
{% block title %}Page d'accueil
{% endblock %}

{% block body %}
		<header>
	{% for annonce in annonces %}
		<div class="annonce">
				<h2>
					{{annonce.title}}
				</h2>
			</a>
			<p>
				{{annonce.content}}
			</p>
			<h3>
				Posté le :
				{{annonce.createdOn | date('d/m/Y h:i:s')}}
			</h3>
			Prix :
			{{annonce.price}}€
			<p>
				Vendeur :
				{% if annonce.author %}
					{{annonce.author.username}}
				</p>
			{% endif %}
			{% if app.user and app.user == annonce.author %}
				<p>
					<a href="{{ path('leboncoin_delete', {'id' : annonce.id } ) }}">
						<button class="red">Supprimer</button>
					</a>
				</p>
				<p>
					<a href="{{ path('leboncoin_edit', {'id' : annonce.id } ) }}">
						<button class="green">Modifier</button>
					</a>
				</p>
			{% endif %}
			<img src="{{asset('uploads/annoncesPictures/') ~ annonce.photos ?? 'default.png'}}" alt="annonces picture">
		</div>
		</header>
	{% endfor %}
{% endblock %}
