{% extends 'base.html.twig' %}

{% block title %}
	Modifiez votre compte
{% endblock %}
{% block body %}
{% form_theme compteForm 'bootstrap_4_layout.html.twig' %}
    <div class="form_container">
        {{form(compteForm)}}
    </div>
	<header>
	{% for annonce in annonces %}
		<div class="container">
		<div class="row">
			<div class="col-sm">
						<div class="card border-primary text-center">
							<div class="card-header border-primary">
								{{annonce.title}}
							</div>
							<p>
							<div class="card-body">
								<a href="{{ path('leboncoin_annonce', {'id' : annonce.id }) }}" class="btn btn-primary">Plus d'infos</a>
								</p>
							</a>
							<p class="card-text">{{annonce.content}}</p>

							Prix :
							<h5 class="card-title">{{annonce.price}}€</h5>

							Vendeur :
							{% if annonce.author %}
								<h5 class="card-title">{{annonce.author.username}}</h5>

								Catégorie :
								<h5 class="card-title">{{annonce.category.name}}</h5>

							{% endif %}
							{% if app.user and app.user == annonce.author %}
								<p>
									<a href="{{ path('leboncoin_delete', {'id' : annonce.id } ) }}">
										<button class="btn btn-danger">Supprimer</button>
									</a>
								</p>
								<p>
									<a href="{{ path('leboncoin_edit', {'id' : annonce.id } ) }}">
										<button class="btn btn-success">Modifier</button>
									</a>
								</p>
							{% endif %}
							<img src="{{asset('uploads/annoncesPictures/') ~ annonce.photos ?? 'default.png'}}" alt="annonces picture">
						</div>
						<div class="card-footer text-muted border-primary">
							{{annonce.createdOn | date('d/m/Y h:i:s')}}
						</div>
					</div>		</div>
	</div>
</div>
	{% endfor %}
{% endblock %}
