<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{asset('main.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
	</head>
	<body>
		{% if app.user %}
			Bienvenue
			{{app.user.username}}
			!
		{% endif %}
		<p>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</p>
		{% endfor %}
		</div>
		<nav>
			<ul>
				<li>
					<a class="home" href="{{path('leboncoin_index')}}">Home page</a>
				</li>
				<li>
					<a class="write" href="{{path('leboncoin_add')}}">Write an ad</a>
				</li>
				{% if app.user %}
					<li>
					    <a class="compte" href="{{path('leboncoin_moncompte')}}">Mon compte</a>
						<a class="logout" href="{{path('leboncoin_logout')}}">Logout</a>
					</li>
				{% else %}
					<li>
						<a href="{{path('leboncoin_register')}}">Sign up</a>
					</li>
					<li>
						<a href="{{path('leboncoin_login')}}">Sign in</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>

