<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome everyone !
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		{# <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}"> #}
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
	</head>
	<body>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>

		{% endfor %}


		<nav>
			<ul>
				<li>
					<a href="{{path('leboncoin_index')}}">Page d'accueil</a>
				</li>
				<li>
					<a href="{{path('leboncoin_add')}}">Ecrire une annonce</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{path('leboncoin_compte', {'id' : app.user.id } )}}">Mon compte</a>
					</li>
					<li>
						<a href="{{path('leboncoin_logout')}}">Déconnexion</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{path('easyadmin')}}">Administration</a>
						</li>
					{% endif %}
				{% else %}
					<li>
						<a href="{{path('leboncoin_register')}}">S'inscrire</a>
					</li>
					<li>
						<a href="{{path('leboncoin_login')}}">Se connecter</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		{% if app.user %}
			<div class="bienvenue">{{app.user.username}}</div>
			<div class="image"><img src="{{asset('uploads/userPictures/') ~ app.user.avatar ?? 'default.png'}}" alt="user picture"></div>
		{% endif %}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>

